{% extends 'base.html' %}
{% load static %}
{% block content %}

<div><img src= "{% static 'img/main_image.jpg' %}" alt = "Main_Image" style="max-width: 100%; height: auto;" </div>

<section id="hero" class="d-flex flex-column justify-content">
  <style>
    .btn{
      padding: none;
      border-style: solid black;
      
    }
  </style>
    <div class="container" data-aos="zoom-in" data-aos-delay="100">

      <h1 ><p class="head-title" >🥗만성질환을 고려한 <span class="typed" data-typed-items=", 식단 추천!🥩 "></span></p></h1>
      
      <br>
        
      {% if user.is_authenticated %}
      <button type="button"  class="btn" > <a href="{%url 'main:list' %}" > 입장하기</a></button> 
      <button type="button"  class="btn"> <a href="{%url 'user:logout' %}" > 로그아웃</a></button>
      {% else %}
        
      <button type="button"  class="btn"> <a href="{%url 'user:login' %}" >로그인</a></button>
      <button type="button"  class="btn"> <a href="{%url 'user:signup' %}" >회원가입</a></button>

      {% endif %}
    </div>
</section><!-- End Hero -->

{%endblock%}