{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="portfolio-details"  class="portfolio-details">

    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">식재료 입력하기</h1><br><br>

                    <a class="btn btn-primary btn-lg" href="{% url 'main:new_story' %}" style="background-color:#fe7f5d; border-color:white;"> 식재료 사진 업로드하기 </a>
                    <br><br>
                    <a class="btn btn-primary btn-lg" href=# style="background-color:#fe7f5d; border-color:white;">스마트 냉장고에서 불러오기</a>


                </div>
            </div>
        </div>
    </header>

    <div class="container px-lg-5" style="margin-top :5%;">

     {%for story in stories%}

        <div class="portfolio-info px-lg-5" style="margin:5px; width:395px; display:inline-block">
                    <ul>
                        <h3> <a style="color:black;" href="{% url 'main:detail' story.id %}">{{story.title}}</a></h3>
                        <li><strong>Writer</strong> : {{story.writer}}</li>
                        <li><strong>식재료</strong> : {{story.ingredients}}</li>
                        <li><strong>생성시간</strong> : {{story.created_at}}</li>
                        <li><strong>수정시간</strong> : {{story.updated_at}}</li>
                    </ul>
         </div>


     {%endfor%}



    </div>

</section>
{%endblock%}
